h2 {

    color: #C17667;
    margin-bottom: 1vh;
    font-size: 2.5vh;

}

/* Top Banner */
#page_title_banner {

    margin-top: 5vh;
    margin-bottom: 8vh;
    background-image: url(https://images.unsplash.com/photo-1596364725424-7673f05f64b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-position: center;
    background-size: cover;
    height: 36vh;
    padding: 2vh;
    
}

#page_title_banner article {

    background-color: #C17667;
    width: 60vh;
    height: 8vh;
    margin: auto;
    border-radius: 12px;
    text-align: center;
    padding: 2vh;
    margin-top: 12vh;

}

#page_title_banner h1 {

    font-size: 6vh;
    color: #EAE1DF;

}

/* End of Top Banner */

/* FAQ Banner */
#faq {

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
    margin-bottom: 8vh;
    background-color: #EAE1DF;
    border-radius: 12px;
    padding: 2vh;

}

#faq ol {

    margin-left: 2vh;

}

#faq li {

    margin-top: 1vh;

}

/* End of FAQ Banner */

/* Contact us Banner */
#contact_us {

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
    margin-bottom: 8vh;
    height: 44vh;
    background-color: #EAE1DF;
    border-radius: 12px;
    padding: 2vh;

}

#contact_us span {

    font-weight: bold;
    color: red;

}

#task {
    margin: auto;
    width: 80%;
    height: fit-content;
}

#task label {
    float: left;
}

#task input {
    float: right;
}

#task textarea {
    float: right;
    padding: 0.5em;
}

.issueOptions li{

    list-style: none;
    margin-left: 14.1vh;

}

textarea {
    resize: none;
    width: 100%;
}
/* End of Contact us Banner */