*{

    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #34341C;

}

h1 {

    color: #C17667;
    margin-bottom: 1vh;
    font-size: 3vh;
    font-weight: bold;

}

/*Top Menu Styling*/
.brand {

    font-family: 'Pridi';
    font-size: 32px;
    color: white;
    padding: 20px;
    letter-spacing: 1px;

}

#top_navigation_bar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #519872;

}

#top_navigation_links li{

    list-style-type: none;
    display: inline-block;
    padding-right: 20px;

}

#top_navigation_links a{

    color: white;
    text-decoration: none;
    padding: 2px;
    border-radius: 8px ;
    transition: .3s ease;
    transition-property: background-color, border-radius;

}

#top_navigation_links a:hover {

    background-color: #3B5249;
    border-radius: 8px ;

}
/* End of Top Menu Styling*/

/* Footer Styling*/
footer {

    background-color: #519872;
    padding: 2vh;
    bottom: 0;
    left: 0;
    margin-top: 8vh;

}

#navigation_and_info {

    justify-content:space-around;
    display: flex;

}

#nav_links a {

    color: white;
    text-decoration: none;
    padding: 2px;
    border-radius: 8px ;
    transition: .3s ease;
    transition-property: background-color, border-radius;

}

#nav_links a:hover {

    background-color: #3B5249;
    border-radius: 8px ;

}

#nav_links li {

    list-style-type: none;
    margin: 4px;

}

#socials li {

    list-style-type: none;
    padding-left: 4vh;

}

.social_links {

    width: 32px;
    height: 32px;
    margin: 0.2vh;
    background-color: #519872;
    border: transparent;
    border-radius: 12px;
    transition: 0.3s ease;

}

.social_links:hover {

    background-color: #3B5249;
    border-radius: 12px;
    cursor: pointer;

}

address {

    color: white;

}
/* End of Footer Styling*/